* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

  

body{
    overflow-x: hidden;
    background-color:#FCFCFC;
}

main {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 25px;
    
}

header {
    display: flex;
    justify-content: center;
}



.search-cover {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('img/campinghead.jpeg');
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    
    
}

#logo {
    width: 300px;
  padding: 50px;
  
  
}

.search-cover h1 {
    width: 70%;
    color: white;
    font-size: 4em;
    font-weight: 900;
    position: absolute;
    top: 150px;
}

.search div {
    height: 60px;   
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 11px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 510px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search div{
    background-color: #fcfcfc;
}

.search input {
    border: none;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    width: 90%;
    outline : none;
    font-size: 1em;
    background-color: #FCFCFC;
}

.search button {
    background-color: #0d7313;
    border: none;
    color: #FCFCFC;
    border-radius: 0px 0px 10px 10px;
    height: 50px;
    font-size: 1.6em;
    font-weight: 600;
    cursor: pointer;
}

.indexh1{
    font-size: 1.3em;
    padding: 45px 0 0 0;
}

.swiper-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 !important;
}



div.swiper-button-prev {

background: url(ikoner/pilvänster.svg) no-repeat;
border-radius: 50px;

}


div.swiper-button-next {
    background: url(ikoner/pilhöger.svg) no-repeat;
border-radius: 50px;
}

div.swiper-button-prev::after, div.swiper-button-next::after {
    font-size: 50px;
    display: none;
    color: white;
}

.linkbox {
    margin: 20px 0px 0px 0;
    
    width: 100%;
    
}

.linkimg {
    background:  url(img/Strand.jpg) center ;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-top: 100%;
    transition: 250ms;
    cursor: pointer;
}

.linkimg:hover {
    opacity: 70%;
}

.linkimg:hover + h1{
    text-decoration: underline
}


.linkbox h1{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 0 0 0;
   max-width: 300px;
}

.linkbox p{
    color: #767676;
}

.indexgrid {
    padding: 20px 0 0 0;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "long short1"
    "long short2";
    
}

.indexgridsection{
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.indexgridsection h1 {
    color: white;
    font-size: 0.9em;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#long {
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0,0,0,.7) 20%, 
    rgba(0,0,0,.4) 40%, 
    rgba(0,0,0,0) 50%), url(img/öland.jpg) center center ;
    background-size: cover;
    grid-area: long;
    height: 270px;
    
}

#short1{
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0,0,0,.7) 20%, 
    rgba(0,0,0,.4) 40%, 
    rgba(0,0,0,0) 50%), url(img/Strand.jpg) center center;
    background-size: cover;
    grid-area: short1;
    
}

#short2{
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0,0,0,.7) 20%, 
    rgba(0,0,0,.4) 40%, 
    rgba(0,0,0,0) 50%), url(img/naturen.jpg) center;
    background-size: cover;
    grid-area: short2;
    
} 

footer {
    height: 300px;
    background-color: #1a492e;
}


@media screen and (min-width: 700px) {
        
     

    
    #long {
        
        height: 570px;
        
    }
    
    .indexh1{
        font-size: 2em;
        
    }

    .indexgridsection h1 {
        font-size: 1.9em;
        bottom: 20px;
        left: 20px;
    }

    
    
}

@media screen and (max-width: 700px) {
        
    .search-cover {
       
        height: 400px;
        
        
        
    }
    
    .search-cover h1 {
        width: 70%;
        color: white;
        font-size: 2em;
        font-weight: 900;
        position: absolute;
        top: 100px;
    }
    
    
    
    .search {
        
        flex-direction: column;
        width: 90%;
        border-radius: 11px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 310px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

   
    #logo {
        width: 200px;
        padding: 25px;
      
      
    }
    
    
}


