* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color:#ffffff; 
}

header {
    display: flex;
    justify-content: center;
}

#logo {
width: 200px;
  padding: 50px;

}

#sorter{
    width: 200px;
    border-radius: 0px;
    border: none;
    height: 40px;
    margin: 0 0 0 50px;
    font-size: 1.1em;
    font-weight: 500;
}

main{
    padding: 0 15px 0 15px;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FCFCFC;
}

#filterDiv {
    display: inline;
    align-items: center;
}
.hemKnapp{
    color: #ffffff;
    text-decoration: none;
}
#filterList {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 5px 0 20px 0;
    background-color: #fcfcfc;
}



.search {
    padding: 20px 0 50px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 1rem;
    background-color: #FCFCFC;
    
}

.search input {
    padding: 6px;
    width: 100%;
    height: 40px;
    border-radius: 1rem;
    background-color: #ffffff;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 4px 0px;
}

#webDiv{
    display: none;
}

.campingDivs {
    width: 100%;
}

.itemDiv {
    margin: 0 0 10px 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    border-radius: 1rem;
    height: 120px;
    background-color: #f7f7f7;
}

.textDiv {
    display: flex;
    flex-direction: column;
}

.textDiv h2 {
    font-weight: 500;
    font-size: 1em;
    padding: 5px 0 15px 0;
}

.textDiv p {
    font-size: .7em;
    font-weight: 400;
}

.showMap {
    color: rgb(0, 0, 228);
    text-decoration: underline;
    padding: 0 0 20px 0;
}

.betyg {
    position: absolute;
    bottom: 5px;
    font-size: 1.3em !important;
}

.betyg > span {
    font-size: .6em !important;
    color: #aaa;
}

.itemDiv img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-right: 10px;
    width: 100px;
    height: 120px;
}

.infoBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 75px;
    height: 35px;
    background-color: #18b331;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
}

#infoBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 75px;
    height: 35px;
    background-color: #18b331;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
}

.myBtn {
    
    width: 40px;
    height: 40px;
    border: none;
    background-color: #fcfcfc;
    cursor: pointer;
}



.myBtn img {
    width: 30px;
    height: 30px;
}




/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.sort{
    position: relative;
}

.filter{
    position: relative;
}

.map{
    padding: 0;
    position: relative;
    height: 500px;
}

.sort-close{
    right: 10px;
    top: 0;
}

.filter-close{
    right: 10px;
    top: 0;
}

.map-close{
    z-index: 10;
    left: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    
}



.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



#map{
     height: 500px;
}

.nextPage{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 40px;
}

.nextPage button {
    background-color: #dfdfdf;
    border-radius: 10px;
    border: none;
    width: 40px;
    height: 40px;
    margin: 0 30px 0 0 ;
    font-weight: 800;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 4px 0px;

}

footer {
    height: 300px;
    background-color: #1a492e;
}

@media (min-width: 700px) {

    body{
        background-color:#ffffff ; 
    }

    input {
        margin-right: 5px;
    }

    main {
        padding: 0 20px 0 20px;
    }

    .inputDiv {
        display: flex;
        flex-direction: row;
        margin: 5px;
        margin-left: 15px;
    }

    #filterDiv {
        display: none;
    }

    hr {
        display: none;
    }

    
    .campingDivs {
        width: 70%;
        margin-right: 30px;
    }
    


    #webDiv {
        margin-right: 20px;
        display: inline;
        background-color: white;
        border-radius: 2%;
        height: 650px;
        width: 35%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 4px 0px;
        
    }

    #webDiv h3 {
      margin: 40px 0 10px 50px;
    }

    .inputDiv {
        margin:15px 0 0 50px;
    }

    .inputDiv label {
        font-weight: 500;
        font-size: 1em;
    }
    
    #resultCover {
        display: flex;
        flex-direction: row;
    }
    
    .itemDiv img {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        margin-right: 10px;
        width: 150px;
        height: 120px;
    }

    .textDiv h2 {
        font-weight: 500;
        font-size: 1.2em;
        padding: 5px 0 15px 0;
    }

}

@media (max-width: 700px){
    #logo {
        width: 150px;
        padding: 25px;
      
      
    }

}