*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: black;
    height: 50px;
    text-align: center;
    color: white;
}

main {
    max-width: 1400px;
    position: relative;
    height: 450px;
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0,0,0,.7) 20%, 
    rgba(0,0,0,.4) 40%, 
    rgba(0,0,0,0) 50%), url(img/camp3.jpg) no-repeat center fixed;
}

.webbpage, .map {
    background-color: white;
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webbpage img, .map img {
    width: 30px;
    padding: 5px 0 0 0;
}

.webbpage p, .map p {
    font-size: .7em;
    padding: 5px 0 0 0;
}

.webbpage {
    top: 0;
    left: 0;
}

.map {
    top: 0;
    right: 0;
}

main h1{
    position: absolute;
    top: 300px;
    left: 25px;
    color: white;
    font-weight: 550;
    font-size: 1.7em;
}

main h2{
    position: absolute;
    top: 305px;
    right: 25px;
    color: white;
    font-weight: 500;
    font-size: 1.5em;
}

main > p{
    position: absolute;
    top: 340px;
    left: 25px;
    color: white;
    font-size: 0.8em;
}

section {
   color: black;
   background-color: white;
   position: absolute;
   top: 400px;
   width: 100%;
   border-radius: 20px 20px 0 0;
}

.beskrivning {
    padding: 25px;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.5em;
    max-width: 500px;
}

.faciliteter {
    padding: 15px 25px 0 25px;
}

.ikoner{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    gap: .5em;
}

.ikon, .ikon2 {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.ikon img {
    height: 30px;
    width: 30px;

}

.ikon p {
    font-size: 0.6em;
    color: #444444;
    padding: 5px 0 0 0;
}

.recensionercover {
    padding: 10px 25px 0 25px;
    margin-top: 35px;
    
}

.ingarecensioner p {
    text-align: center;
    padding: 70px 40px 40px 40px;
    color: #bcbcbc;
    display: none;
}

#recensioner {
    padding: 10px 0 0 0;
    display: flex;
    overflow-x: scroll;
    
}

#recensioner {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#recensioner::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.recensionerobjekt {
    padding: 10px;
    margin-right: 10px;
    height: 100px;
    min-width: 250px;
    background-color: rgb(243, 243, 243);
}

.recensionerobjekt p {
    padding-top: 10px;
    font-size: .75em;
}

.close {
    padding: 10px 25px 0 25px;
    margin-top: 25px;
}

.knappar {
    padding: 10px 0 10px 0;
    
}

.knappar button {
    margin-top: 5px;
    background-color: white;
    border-radius: 50px;
    font-size: .8em;
    font-weight: 500;
    border: none ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 4px 0px;
    padding: 7px 7px 7px 30px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.knappar button img {
    height: 18px;
    position: absolute;
    left: 7px;
}

.filter{
    display: flex;
    justify-content: space-between;
    
}

.ikon2{
   padding: 10px 0 0 0; 
}

.ikon2 img {
    height: 25px;
    width: 25px;

}

.ikon2 p {
    font-size: .8em;
}

.knappar .active{
    color: white;
    background-color: #290cad;
}


#map {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    
}


#listan {
    overflow-y: scroll;
    height: 410px;¨
    
   
}

.kartalista .hidden {
    display: none;
}



.listobjekt {
   background-color: #FCFCFC;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 4px 0px;
   border-radius: 29px; 
   margin: 10px 20px 15px 20px;
   padding: 20px 0 0 20px;
   max-width: 400px;
}

.title {
    display:flex;

}

.title p {
    font-size: .6em;
}

.listobjekt ul {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.listobjekt ul li {
    padding: 0 40px 5px 0;
    font-size: .75em;
    font-weight: 500;
}

#maporlist {
    height: 50px;
    display: flex;
    flex-direction: Row;
}

#maporlist button {
    width: 50%;
    background-color: rgb(255, 255, 255);
    border: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: .7em;
    cursor: pointer;
}

#maporlist .active {
    color: white;
    background-color: #290cad;
} 

#maporlist button img {
    height: 20px;
}


  