* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

  

body{
    overflow-x: hidden;
    background-color:#FCFCFC;
}

main {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 25px;
    
}

header {
    background-color: #1a492e;
    height: 100px;
}

header h1 {
    color: white;
    font-size: 3em;
}

.information {
    margin-left: auto;
    margin-right: auto;
}

.search div {
    height: 60px;   
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search {
    background-color: white;
    display: flex;
    flex-direction: column;
   
   border-radius: 11px;
}

.search input {
    border: none;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    width: 90%;
    outline : none;
    font-size: 1em;
    background-color: #FCFCFC;
}

.search button {
    background-color: #0e110f;
    border: none;
    color: white;
    border-radius: 0px 0px 10px 10px;
    height: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 1.6em;
    font-weight: 600;
}

.indexh1{
    font-size: 1.3em;
    padding: 45px 0 0 0;
}

.swiper-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 !important;
}



div.swiper-button-prev {

background: url(ikoner/pilvänster.svg) no-repeat;
border-radius: 50px;

}


div.swiper-button-next {
    background: url(ikoner/pilhöger.svg) no-repeat;
border-radius: 50px;
}

div.swiper-button-prev::after, div.swiper-button-next::after {
    font-size: 50px;
    display: none;
    color: white;
}

.linkbox {
    margin: 20px 0px 0px 0;
    
    width: 100%;
    
}

.linkimg {
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0,0,0,.7) 20%, 
    rgba(0,0,0,.4) 40%, 
    rgba(0,0,0,0) 50%), url(img/Strand.jpg) center ;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-top: 100%;
}



.linkbox h1{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 0 0 0;
   max-width: 300px;
}

.linkbox p{
    color: #767676;
}

.indexgrid {
    padding: 20px 0 0 0;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "long short1"
    "long short2";
    
}

.indexgridsection{
    border-radius: 10px;
    position: relative;
}

.indexgridsection h1 {
    color: white;
    font-size: 0.9em;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#long {
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0,0,0,.7) 20%, 
    rgba(0,0,0,.4) 40%, 
    rgba(0,0,0,0) 50%), url(img/öland.jpg) center center ;
    background-size: cover;
    grid-area: long;
    height: 270px;
    
}

#short1{
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0,0,0,.7) 20%, 
    rgba(0,0,0,.4) 40%, 
    rgba(0,0,0,0) 50%), url(img/Strand.jpg) center center;
    background-size: cover;
    grid-area: short1;
    
}

#short2{
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0,0,0,.7) 20%, 
    rgba(0,0,0,.4) 40%, 
    rgba(0,0,0,0) 50%), url(img/naturen.jpg) center;
    background-size: cover;
    grid-area: short2;
    
} 

footer {
    height: 300px;
    background-color: #1a492e;
}


@media screen and (min-width: 700px) {
        
     

    .search {
       left: 14%; 
       right: 14%;
    }
    
    #long {
        
        height: 570px;
        
    }
    
    .indexh1{
        font-size: 2em;
        
    }

    .indexgridsection h1 {
        font-size: 1.5em;
        bottom: 20px;
        left: 20px;
    }

    
    
}

@media screen and (max-width: 700px) {
        
     

   .small {
       
   }

    
    
}


