*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: black;
    height: 50px;
    text-align: center;
    color: white;
}

main {
    max-width: 1400px;
    position: relative;
    height: 450px;
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0,0,0,.7) 20%, 
    rgba(0,0,0,.4) 40%, 
    rgba(0,0,0,0) 50%), url(img/camp3.jpg) no-repeat center center fixed;
}

.webbpage, .map {
    background-color: white;
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webbpage img, .map img {
    width: 30px;
    padding: 5px 0 0 0;
}

.webbpage p, .map p {
    font-size: .7em;
    padding: 5px 0 0 0;
}

.webbpage {
    top: 0;
    left: 0;
}

.map {
    top: 0;
    right: 0;
}

main h1{
    position: absolute;
    top: 300px;
    left: 25px;
    color: white;
    font-weight: 550;
    font-size: 1.7em;
}

main h2{
    position: absolute;
    top: 305px;
    right: 25px;
    color: white;
    font-weight: 500;
    font-size: 1.5em;
}

main > p{
    position: absolute;
    top: 340px;
    left: 25px;
    color: white;
    font-size: 0.8em;
}

section {
   color: black;
   background-color: white;
   position: absolute;
   top: 400px;
   width: 100%;
   border-radius: 20px 20px 0 0;
}

.beskrivning {
    padding: 25px;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.5em;
}

.faciliteter {
    padding: 10px 25px 0 25px;
}

.ikoner{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    gap: .5em;
}

.ikon {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.ikon img {
    height: 30px;
    width: 30px;

}

.ikon p {
    font-size: 0.6em;
    color: #444444;
    padding: 5px 0 0 0;
}

.recensioner {
    padding: 10px 25px 0 25px;
    margin-top: 25px;
}


  